@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #0c4449;
    --clr-2: #13595f;
    --clr-3: #2d8f85;
    --clr-4: #41b4a9;
}

h1{
    font-size: 30px;
}

.container {
    padding-top: 65px;
}

.page {
    display: flex;
    height: calc(100dvh - 65px);
    justify-content: center;
    align-items: center;
}

.signup-wrap {
    border-radius: 10px;
    position: relative;
}

.signup-wrap::before,
.signup-wrap::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-3),
    var(--clr-2),
    var(--clr-1)
    );
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.signup-wrap::after {
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}


.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
    border-radius: 10px;
    background: var(--primary-1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    background: transparent;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: large;
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    color-scheme: dark;
}

form button {
    background-color: var(--primary-3);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
}
